body{
    /* margin: 0; */
    border: solid 70px rgb(241,234,234);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,21,4);
}
.section1{
    padding: 3% 8%;
    

}
.logo{
    display: flex;
    width: 200px;
    
}
nav .logo{
    margin-left: -15px;
}
.projects .logo{
    width: 200px
    
}
.logo b{
    color: rgb(80,156,142);
}
.logo1{
    width: 60px;
    height: 50px;
    /* margin-top: 2%; */
}
/* .logoo{
    display: flex;
    width: 200px;
}
.logo2{
    width: 5px;
    height: 2px;
    margin-top: 2%;
} */
nav{
    display: flex;
}
.nav-links{
    /* background-color: red; */
    margin-top: 1.5%;
    width: 450px;
    margin-right: 15%;
    margin-left: 15%;

}
.nav-links b{
    color: rgb(80,156,142);

}
nav a{
    text-decoration: none;
    padding-right: 5%;
    color: rgb(176,166,162);
    font-weight: bolder;
}
nav button{
    color: white;
    border: none;
    background-color: rgb(81,133,248);
    /* margin-left: 10%; */

    border-radius: 20px;
    height: 40px;
    width: 100px;
}
.main img{
    width: 240px;
    height: 370px;
    margin-left: 13%;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: top;
}

.main{
    display: flex;
}
.intro{
    /* background-color: orange; */
    max-width: 45%;
    margin-top: 10%;
}
/* .intro i{
    margin: 5% 5% 0% 0%;
} */
.intro h1{
    font-size: 35px;
}
.buttons{
    display: flex;
    margin-top: 5%;
    margin-bottom: 15%;
}
.buttons button{
    color: white;
    border: none;
    background-color: rgb(73,160,144);
    /* margin-left: 10%; */

    border-radius: 20px;
    height: 40px;
    width: 120px;
    box-shadow: 10px 10px 45px rgb(230, 162, 184);
    margin-right: 7%;
}
#done{
    width: 32%;
    border-radius: 20px;
    background-color: white;
    padding: 2px;
    box-shadow: 10px 10px 15px rgb(212, 199, 199);

}
#done i{
    background-color: rgb(72,159,144);
    padding: 5px;
    border-radius: 50%;
}
#camera{
    background-color: rgb(248,186,36);
    padding: 10px;
    margin-right: 6%;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgb(212, 199, 199);
}
#twitter{
    background-color: rgb(73,160,144);
    color: white;
    padding: 9px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgb(212, 199, 199);
}
.other{
    display: flex;
}
.other p{
    width: 300px;
    height: 100px;
    padding: 2%;
    border: solid 0.1px rgb(236, 234, 234);
}
.other b{
    font-size: 25px;
}
.icons{
    display: flex;
}
.icons img{
    width: 100px;
    height: 30px;
    margin-right: 15%;
    margin-top: 10%;
}
.icons p{
    margin-right: 17%;
}
.icons b{
    color: gray;
}
.section2{
    padding: 3% 8%;

}
#title{
    /* background-color: brown; */
    font-size: 25px;
    width: 20%;
    text-align: center;
    margin-left: 40%;
}
.service{
    display: flex;
}
#one{
    background-color: rgb(245,249,250);
    padding: 4%;
}
#one span{
    padding: 10px;
    font-size: 30px;
    background-color: rgb(81,133,248);
    color: white;
    border-radius: 50%;
}
#two{
    color: white;
    background-color: rgb(73,160,145);
    padding: 4%;
}
#two span{
    padding: 10px;
    font-size: 30px;
    background-color: white;
    color: rgb(141,110,106);
    border-radius: 50%;
   
}
#three{
    background-color: rgb(245,249,250);
    padding: 4%;
}
#three span{
    padding: 10px;
    font-size: 30px;
    background-color: rgb(248,185,36);
    color: white;
    border-radius: 50%;
}
.projects{
    display: flex;
    margin-left: 10%;
}
#image1{
    width: 250px;
    height: 350px;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: top;
/* background-color: green; */
}
.projects div{
    margin-left: 20%;
    width: 40%;
    /* background-color: yellow; */
}
.projects div h1{
    width: 80%;
}
.one{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px rgb(75, 72, 72);
}
.one b{
    background-color: rgb(73,160,145);
    color: white;
    border-radius: 50%;
    padding: 2% 3%;
    margin-right: 5%;
}
.two{
    /* background-color: white; */
    padding: 15px;
    /* border-radius: 30px; */
}
.two b{
    background-color: rgb(80,133,249);
    color: white;
    border-radius: 50%;
    padding: 2% 3%;
    margin-right: 5%;
}
.three{
    /* background-color: white; */
    padding: 15px;
    /* border-radius: 30px; */
}
.three b{
    background-color:rgb(248,190,36);
    color: white;
    border-radius: 50%;
    padding: 2% 3%;
    margin-right: 5%;
}
.section2 .logo{
    margin-left: 50%;
}
.section3{
    border-top: solid 15px rgb(226,226,226);
    border-bottom: solid 15px rgb(226,226,226);
}
.update{
    text-align: center;   
    padding: 3% 8%;

}
.update h1{
    font-size: 30px;
}
.update p{
    font-size: 13px;
 }
 .signUp{
    
     background-color: rgb(73,160,145);
     width:35% ;
     padding: 1%;
     border-radius: 15px;
     margin-left: 30%;
 }
 .signUp input{
     background-color: rgb(73,160,145);
     color: white;
     font-weight: bolder;
     border: none;
     height: 50px;
 }
 
.signUp button{
    border: none;
    background-color: rgb(81,132,249);
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10%;
    
}  

.section4{
    padding: 3% 8%;
    display: flex;
}
.work h1{
    font-size: 25px;
    /* background-color: blueviolet; */
    width: 65%;
}.work button{
    color: white;
    border: none;
    background-color: rgb(73,160,145);
    margin-top: 5%;

    border-radius: 20px;
    width: 25%;
    padding: 10px 0px;
    box-shadow: 10px 10px 15px rgb(212, 199, 199);
    
}
#image{
    width: 350px;
    height: 500px;
    background-image: url(image/bubble.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
label{
    color: rgb(84,86,109);
    font-weight: bolder;
}
.name{
    margin-top: 12%;
}
.name input{
    border: none;
    background-color: rgb(254,248,248);
    width: 59%;
    padding: 10px 15px;
}
.message{
    margin-top: 10%;
}
.message input{
    border: none;
    background-color: rgb(254,248,248);
    width: 63%;
    padding: 10px 0px 60px 15px;
}

